body{
    background: linear-gradient(rgb(96, 96, 255),rgb(144, 44, 244),rgb(255, 69, 69));
    text-align: center;
}
h1{
    color: aliceblue;
    background-color: rgba(250, 235, 215, 0.574);
    margin: 50px;
    border-radius: 5px;
}
#show_sketch{
    float: right;
}
canvas{
    border: 5px, solid, white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 170px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}